body{
	background: #fff;
}
nav{
	width: 1200px;
	padding:30px 0;
	margin:0 auto;
}
nav span{
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 3px;
	padding-left: 2px;
	position: relative;
	top: 5px;
}
.title{
	width: 100%;
	height: 225px;
	color: white;
	letter-spacing: 5px;
	font-size: 25px;
	background: url("../images/start.png") no-repeat center;
	background-size: cover;
}
.title .pay-alert{
	width: 1200px;
	height: 225px;
	line-height: 225px;
	margin:0 auto;
}
.title .pay-alert .clock-icon{
	width: 75px;
	height: 75px;
	display: inline-block;
	background: url("../images/clock.png") no-repeat center;
	background-size: contain;
	margin-right: 20px;
	vertical-align: middle;
}
.title .pay-alert .pay-price{
	font-size: 40px;
	color: #f19928;
}
.payment{
	width: 1200px;
	height: 500px;
	margin:0 auto;
	background: white;
	padding:50px 0;
}
.payment .payment-choose{
	border-left: 12px solid #e6e6e6;
	padding:10px;
	font-size: 22px;
	margin-bottom: 40px;
	letter-spacing: 3px;
}
.payway{
	width: 192px;
	height: 62px;
	display: inline-block;
	line-height: 62px;
	border-radius: 4px;
	margin-right: 60px;
	text-align: center;
	font-size: 22px;
	letter-spacing: 2px;
	border: 2px solid #ddd;
}
.check_active{
	border: 2px solid #00a7ff;
}
.payment .paypath>span i{
	width: 38px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
.payment .paypath .icon-zfb{
	background: url("../images/icon-zfb.png") no-repeat center;
	background-size: contain;
}
.payment .paypath .icon-wx{
	background: url("../images/icon-wx.png") no-repeat center;
	background-size: contain;
}
.payment .pay-btn{
	width: 220px;
	height: 58px;
	background-color: #f19928;
	border-radius: 4px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	line-height: 58px;
	margin: 110px auto 0px;
	letter-spacing: 3px;
}
.payment .pay-cancel{
	width: 220px;
	height: 58px;
	background-color: #fff;
	font-size: 14px;
	color: #cccccc;
	text-align: center;
	line-height: 58px;
	margin: 0px auto;
	letter-spacing: 3px;
	cursor: pointer;
}
/*公共底部*/
.footer_c{
	width: 100%;
	height: 60px;
	text-align: center;
	color: #c5c5c5;
	line-height: 60px;
}
#computer{
	display: block;
}
#mobilep{
	display: none;
}